@import "tailwindcss";

@font-face {
    font-family: Satoshi;
    src: url('./assets/fonts/Satoshi-Variable.woff2');
}

@font-face {
    font-family: JetbrainsMono;
    src: url('./assets/fonts/JetbrainsMono-Medium.ttf');
}

@theme {
    --color-container: #F0EFEB;
    --color-border: #CECBBF;
}

body {
    font-family: Satoshi, sans-serif;
    background-color: #F0EFEB;
    background-color: #cecbbf;
}

kbd {
    font-family: JetbrainsMono, monospace;
}

.fade-in {
    opacity: 0;
    animation: fade-in 1s forwards linear;
}

.fade-out {
    opacity: 1;
    animation: fade-in 1s forwards reverse linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}